.product-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters input,
.filters select {
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 6px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s ease-in-out;

}

.card:hover {
  box-shadow: 0 4px 12px #0002;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  margin: 8px 0;
}

.details-btn {
  display: inline-block;
  padding: 8px 12px;
  background: #007bff;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
}

.details-btn:hover {
  background: #0056c7;
}

.no-results {
  text-align: center;
  margin-top: 20px;
  color: #777;
}

.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #aaa;
  color: #000;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.pagination button.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
